<div class="row">
<div class="col">
{{#links}}
<div class="link">
    <div>
        <a href="/links/{{id}}">{{title}}</a> - <span class="text-muted">{{clicks}} clicks</span>
        <span class="small"><a href="/links/{{id}}/edit">edit</a></span>
    </div>
    {{#descr}}<div class="small">{{.}}</div>{{/descr}}
</div>
{{/links}}
</div>
</div>