<div class="row">
<div class="col">
{{#links}}
<div class="link">
    <div>
        <a href="/links/{{id}}">{{title}}</a> - <span class="text-muted">{{clicks}} clicks</span>
        <a class="btn btn-sm btn-outline-primary" href="/links/{{id}}/edit">edit</a>
        <form class="delete-link-form" method="POST" action="/links/{{id}}/delete"><button class="btn btn-sm btn-outline-danger" type="submit">delete</button></form>
    </div>
    {{#descr}}<div class="small">{{.}}</div>{{/descr}}
</div>
{{/links}}
</div>
</div>
