<div class="row">
<div class="col">
{{#links}}
<div class="link">
    <div><a href="{{url}}">{{title}}</a> - <span class="text-muted">{{clicks}} clicks</span></div>
    {{#descr}}<div>{{.}}</div>{{/descr}}
</div>
{{/links}}
</div>
</div>